<div class="action-buttons" style="display:inline;">

    <div ng-hide="isDeleting"
         ng-class="btnGroupClass">

        <button type="button"
                class="btn btn-default"
                ng-if="hasNew==true"
                ng-click="startNew()">
            New
        </button>

        <button type="button"
                class="btn btn-default"
                ng-if="hasClone==true"
                ng-click="startClone()">
            Clone
        </button>

        <button type="button"
                class="btn btn-default"
                ng-if="hasEdit==true"
                ng-click="startEdit()">
            Edit
        </button>

        <button type="button"
                class="btn btn-danger"
                ng-if="hasDelete==true"
                ng-click="startDelete()">
            Delete
        </button>
    </div>

    <div ng-if="isDeleting"
         ng-class="btnGroupClass">

        <button type="button" class="btn btn-danger"
                ng-click="confirmDelete()">
            {{deleteConfirmText|| 'Confirm Delete'}}
        </button>
        <button type="button" class="btn btn-default"
                ng-click="cancelDelete();">
            {{deleteCancelText|| 'Cancel'}}
        </button>

    </div>
</div>
